{% extends 'base.html.twig' %}

{% block stylesheets %}
.choixpaiement{
	border: 2px solid green;
}

{% endblock %}

{% block body %}
	<div class="row" id="inscription"> 
		<label class="col-12 text-center"> Prise en charge de réservation </label>
		<div class="loader">
		  <div class="inner one"></div>
		  <div class="inner two"></div>
		  <div class="inner three"></div>
		</div>
	</div>

{% endblock %}


{% block modal %}

  <!-- Button trigger modal -->
<button type="button" class="btn btn-primary d-none" id="loadmodal" data-toggle="modal" data-target="#loadingmodal">
  Launch demo modal
</button>
	<!-- Modal -->
	<div class="modal fade bd-example-modal-sm" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
	  	<div class="modal-dialog modal-dialog-centered" role="document">
		   	<div class="loading-container">
			    <div class="loading"></div>
			    <div id="loading-text">loading</div>
			</div>
	  	</div>
	</div>
{% endblock modal %}


{% block javascripts %}
	{{ parent() }}
// Affichage des vols choisis
$(document).ready(function(){
	var data = location.search;

	var request = $.ajax({
	    url: "{{ path('reservation')}}",
	    method: "POST",
	    data: data 
	});
	request.done(function(msg){
		$("#inscription").html(msg.view);
	});
});

$(document).on("click", "img", function(){
	$("img").removeClass("choixpaiement");
	$(this).addClass("choixpaiement");
});


$(document).on("submit", "form[name=client]", function(e){
	e.preventDefault();
	var data = $(this).serialize();
	var url = location.search;
	var choixpaiement = $(".choixpaiement").attr("name");

	// bloquer la page avant d'enregistrer
	//$.noConflict();
	//$("#exampleModalCenter").modal();

	
	var request = $.ajax({
	    url: "{{ path('reservation')}}",
	    method: "POST",
	    data: data + "&" + url + "&choixpaiement=" + choixpaiement
	});
	request.done(function(msg){
		console.dir(msg);
		window.location.href=msg.view;
		//$(".container").html(msg.view);
	});
});
{% endblock %}