/*Animation recher de vol */
.drops {
  list-style: none;  position: relative;
  height: 10px;  width: 140px;
  margin: 0 auto; /* center the animation */
  margin-top: 40px; /* padd the top from the text */
}
.drops li {
  position: absolute;  top: 0px;  height: 10px;  width: 10px;
  background-color: #99deff;  border-radius: 5px;
  margin-left: -3000px; /* the dots like to jump out of place without this */
  animation-name: loading;  animation-duration: 5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;  animation-direction: normal;
}

.drops li:nth-child(1) {  left: 0px;  animation-delay: 250ms;}
.drops li:nth-child(2) {  left: 40px;  animation-delay: 500ms;}
.drops li:nth-child(3) {  left: 80px;  animation-delay: 750ms;}
.drops li:nth-child(4) {  left: 120px;  animation-delay: 1s;}
.drops li:nth-child(5) {  left: 160px;  animation-delay: 1.25s;}

@keyframes loading {
  0% { margin-left: -3000px; }
  30%,70% { margin-left: 0px; }
  100% { margin-left: 3000px; }
}

/*Animation recher de vol */
.modal-body {background: gray;}

  @keyframes rotate-loading {
      0%  {transform: rotate(0deg);-ms-transform: rotate(0deg); -webkit-transform: rotate(0deg); -o-transform: rotate(0deg); -moz-transform: rotate(0deg);}
      100% {transform: rotate(360deg);-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); -o-transform: rotate(360deg); -moz-transform: rotate(360deg);}
  }

  @keyframes loading-text-opacity { 0%  {opacity: 0}  50% {opacity: 1}  100%{opacity: 0} }

  .loading-container, .loading { height: 100px;  position: relative; width: 100px; border-radius: 100%; }

  .loading {
      border: 2px solid transparent;
      border-color: transparent #fff transparent #FFF;
      -webkit-animation: rotate-loading 1.5s linear 0s infinite normal;
      -webkit-transform-origin: 50% 50%;
      animation: rotate-loading 1.5s linear 0s infinite normal;
      transform-origin: 50% 50%;
  }

  #loading-text {
      -moz-animation: loading-text-opacity 2s linear 0s infinite normal;
      -o-animation: loading-text-opacity 2s linear 0s infinite normal;
      -webkit-animation: loading-text-opacity 2s linear 0s infinite normal;
      animation: loading-text-opacity 2s linear 0s infinite normal;
      color: #ffffff;   font-family: "Helvetica Neue, "Helvetica", ""arial";
      font-size: 10px; font-weight: bold;  margin-top: 45px;  opacity: 0;
      position: absolute;  text-align: center;  text-transform: uppercase;
      top: 0;   width: 100px;
  }
 
 .loading-container:hover .loading {
    border-color: transparent #E45635 transparent #E45635;
  }
  .loading-container:hover .loading,
  .loading-container .loading {
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }


/*Animation de patient  pour réservation*/
  .loader {
  position: absolute;
  top: calc(40% - 125px);
  left: calc(50% - 125px);
  width: 250px;
  height: 250px;
  border-radius: 50%;
  perspective: 800px;
}

.inner {
  position: absolute;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  border-radius: 50%;  
}

.inner.one {
  left: 0%;
  top: 0%;
  animation: rotate-one 1s linear infinite;
  border-bottom: 3px solid blue;
}

.inner.two {
  right: 0%;
  top: 0%;
  animation: rotate-two 1s linear infinite;
  border-right: 3px solid green;
}

.inner.three {
  right: 0%;
  bottom: 0%;
  animation: rotate-three 1s linear infinite;
  border-top: 3px solid red;
}

@keyframes rotate-one {
  0% {  transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);  }
  100% {  transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);  }
}

@keyframes rotate-two {
  0% {    transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);  }
  100% {    transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);  }
}

@keyframes rotate-three {
  0% {    transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);  }
  100% {    transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);  }
}