{% extends 'base.html.twig' %}

{% block body %}
	<div class="row">

		{{ form_start(formuser) }}	
		<div class="form-row mt-5"> 
			<div class="form-group col-6">
				{{ form_label(formuser.nom, 'Nom',{ 'label_attr': {'for': 'nom'} } ) }}
				{{ form_widget(formuser.nom, {'attr' : {'class' : 'form-control'}}) }}
			</div>
			<div class="form-group col-6">
				{{ form_label(formuser.prenom, 'Prénom',{ 'label_attr': {'for': 'prenom'} } ) }}
				{{ form_widget(formuser.prenom, {'attr' : {'class' : 'form-control'}}) }}
			</div>
			<div class="form-group col-6">
				{{ form_label(formuser.mail, 'Mail') }}
				{{ form_widget(formuser.mail, {'attr' : {'class' : 'form-control'}}) }}
			</div>
			<div class="form-group col-6">
				{{ form_label(formuser.password.first, 'Saissisez un mot de passe',{ 'label_attr': {'for': 'password' } } ) }}
				{{ form_widget(formuser.password.first, {'attr' : {'class' : 'form-control' }}) }}
			</div>
			<div class="form-group col-6">
				{{ form_label(formuser.password.second, 'Saissisez un mot de passe',{ 'label_attr': {'for': 'password' } } ) }}
				{{ form_widget(formuser.password.second, {'attr' : {'class' : 'form-control' }}) }}
			</div>

			<div class="form-group col-6">
				{{ form_label(formuser.Enregistrer) }}
				{{ form_widget(formuser.Enregistrer, {'attr' : {'class' : 'btn btn-primary col-12'}}) }}
			</div>
		</div>
		{{form_end(formuser)}}
    </div>
{% endblock %}

{% block javascripts %}

	$(document).on("submit", "form[name=user]", function(e){
		e.preventDefault();
		var data = $(this).serialize();

		var request = $.ajax({
			url: "{{path('register')}}",
			method: "post",
			data : data
		});
		request.done(function(msg){
			console.dir(msg);
		});
	});

{% endblock %} 