{% extends 'base.html.twig' %}

{% block body %}
	<div class="row">
		<label> SNIR AIRLINES, Un projet scloaire de gestion de voyage en avion avec une site web permettant de réserver des vols (ce site) et d'un autre site permettant de louer un véhicules et ainsi que le gestion des enregistrement et d'embarquement des voyageur à l'aéroport </label>
	</div>

		{# S'il y a une erreur, on l'affiche dans un cadre #}
		{% if error %}
			<div class="alert alert-danger">{{ error.message }}</div>
		{% endif %}

{# Le formulaire, avec URL de soumission vers la route « login_check » comme on l'a vu #}
	<div class="row mt-4 border border-danger justify-content-center">
		
		<form  action="{{ path('login_check') }}" method="post">
			<div class="form-row">
				<label class="col-12"> Partie Réservé à l'administration </label>
			<div class="form-group col-6">
				<label class="col-12" for="username">Utilisateur</label>
				<input type="text" class="form-control" name="_username" id="username" value="{{ last_username }}" />
			</div>
			<div class="form-group col-6">
				<label class="col-12" for="password">Mot de passe</label>
				<input type="password" class="form-control" name="_password" id="password"/>
			</div>
			<div class="form-group col-6">
				<button class="form-control btn btn-primary" type="submit">Connecter</button>
			</div>
		</div>
	</form>
</div>
		
	


{% endblock %}