{% extends 'base.html.twig' %}
{% block body %}

	{% set vol = volaller %}
	{% include "Recherche/vol.html.twig" %}

	{% if typesearchvol == "allerretour" %}
		{% set vol = volretour %}
		{% include "Recherche/vol.html.twig" %}
	{% endif %}




{{form_start(reservation)}}	
	<div class="form-row mt-5"> 
		<div class="form-group col-6">
			{{ form_label(reservation.nom, 'Nom',{ 'label_attr': {'for': 'nom'} } ) }}
			{{ form_widget(reservation.nom, {'attr' : {'class' : 'form-control'}}) }}
		</div>
		<div class="form-group col-6">
			{{ form_label(reservation.prenom, 'Prénom',{ 'label_attr': {'for': 'prenom'} } ) }}
			{{ form_widget(reservation.prenom, {'attr' : {'class' : 'form-control'}}) }}
		</div>
		<div class="form-group col-6">
			{{ form_label(reservation.adresse, 'Adresse') }}
			{{ form_widget(reservation.adresse, {'attr' : {'class' : 'form-control'}}) }}
		</div>
		<div class="form-group col-6">
			{{ form_label(reservation.mail, 'Mail') }}
			{{ form_widget(reservation.mail, {'attr' : {'class' : 'form-control'}}) }}
		</div>
		<div class="form-group col-6">
			{{ form_label(reservation.telephone, 'Téléphone') }}
			{{ form_widget(reservation.telephone, {'attr' : {'class' : 'form-control'}}) }}
		</div>
		<div class="form-group col-6">
			{{ form_label(reservation.passeport, 'Numéro de passeport',{ 'label_attr': {'for': 'passeport' } } ) }}
			{{ form_widget(reservation.passeport, {'attr' : {'class' : 'form-control' }}) }}
		</div>

		<div class="form-group mt-4 col-12">
			<label for="modepaiement" class="sr-only">Choissisez votre Mode de Paiement</label>
			<img src="https://www.reussir-mon-ecommerce.fr/wp-content/uploads/2016/03/logo-cb-1.jpg" name="cb" class="col-2">
			<img src="https://www.reussir-mon-ecommerce.fr/wp-content/uploads/2016/03/logo-visa-carte-1.png" name="cb" class="col-2">
			<img src="https://www.reussir-mon-ecommerce.fr/wp-content/uploads/2016/03/MasterCard-Logo-1-1024x768.png" name="cb" class="col-2">
			<img src="https://www.reussir-mon-ecommerce.fr/wp-content/uploads/2016/03/Paypal_2012_logo-1.png" name="paypal" class="col-2">
			<img src="https://www.reussir-mon-ecommerce.fr/wp-content/uploads/2016/03/logo-american-express-1-1024x1024.png" name="cb"class="col-2">
		</div>


		<div class="form-group col-6">
			{{ form_label(reservation.Payer) }}
			{{ form_widget(reservation.Payer, {'attr' : {'class' : 'btn btn-primary col-12'}}) }}
		</div>
	</div>
{{form_end(reservation)}}




{% endblock %}