<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <!--Bootstrap CSS CDN-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{asset('animation.css')}}">
    
    <!--CDN jQuery-->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
    <!--CDN Ajax google-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    
    <title>{% block title %}Welcome!{% endblock %}</title>
    <style type="text/css">{% block stylesheets %}{% endblock %}</style>
  </head>
    <body>

        <nav class="navbar navbar-expand-lg navbar-dark bg-primary ">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <ul class="navbar-brand col-3 mb-0">
               <img src="{{ asset('snirlogo.jpg') }}" class="col-12" />
            </ul>

            <div class="collapse navbar-collapse col-9" id="navbarTogglerDemo01">                                
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0 col-6">
                    <li class="nav-item  col-4">
                        <a class="nav-link" href="{{path('recherche')}}">Recherche </a>
                    </li>
                    <li class="nav-item col-4">
                        <a class="nav-link" href="{{path('gestionvol')}}">Gérer la réservation</a>
                    </li>
                    <li class="nav-item col-4">
                        <a class="nav-link" href="{{path('login')}}">A propos</a>
                    </li>
                </ul>
            </div>
        </nav>


    	<div class="container mt-5">{% block body %}{% endblock %}</div>
      {% block modal %}     {% endblock modal %}
        
        
        <script type="text/javascript">
            {% block javascripts %}

            {% endblock %}
         </script>
    </body>
</html>