{% extends 'base.html.twig' %}

{% block body %}

<form name="recherche">
    <div class="row justify-content-center">

        <div class="form-row col-8">
            <div class="form-check form-check-inline col-2">
              <input class="form-check-input" type="radio" id="inlineCheckbox1" name="vol" value="allerretour" checked>
              <label class="form-check-label" for="inlineCheckbox1">Aller-retour</label>
            </div>
            <div class="form-check form-check-inline col-2">
              <input class="form-check-input" type="radio" id="inlineCheckbox2" name="vol" value="allersimple">
              <label class="form-check-label" for="inlineCheckbox2">Aller simple</label>
            </div>
         </div>
        <div class="form-row col-8">
            <div class="form-group col-5">
                <label for="depart">Depart</label>
                <input type="text" class="form-control dropdown-toggle" data-toggle="dropdown" value="paris" id="depart" name="vd" data="aeroports" placeholder="Depart" autocomplete="on" required>
                <!-- <ul class="list-group" id="liste_depart">   </ul> -->
                <ul class="dropdown-menu scrollable-menu" role="menu" id="liste_depart">
                    <!-- <li><a href="#">Action</a></li> -->
                </ul>

            </div>
            <div class="form-group col-1">
                <label for="h">  </label>
                <label>  </label>
            </div>
            <div class="form-group col-5">
                <label for="destination">Destination</label>
                <input type="text" class="form-control" name="va" id="arrivee" value="colombo" data="aeroports" placeholder="arrive" required>
                <ul class="dropdown-menu scrollable-menu" role="menu" id="liste_arrivee">
                    <!-- <li><a href="#">Action</a></li> -->
                </ul>
                <!-- <ul class="list-group" id="liste_arrivee"> </ul> -->
            </div>
        </div>
        
        <div class="form-row col-8">
            <div class="form-group col-5">
                <label for="Heuredepart">Date de depart</label>
                <input type="date" class="form-control" name="dd" value="2019-04-27" required>
            </div>
            <div class="form-group col-1"></div>
            <div class="form-group col-5" id="radiosimple">
                <label for="Heurearrivee">Date d'arrivée</label>
                <input type="date" class="form-control" name="da" value="2019-04-30" required>
            </div>
        </div>

        <div class="form-row col-8">
            <div class="form-group col-4">
                <input type="number" class="form-control" name="np" value="3">
            </div>
            <div class="form-group col-1"></div>
            <div class="form-check form-check-inline col-2">
              <input class="form-check-input" type="checkbox" id="filtre" name="filtre" value="direct">
              <label class="form-check-label" for="filtre">Direct</label>
            </div>
        </div>

        
        
        <div class="form-row col-8">
            <div class="form-group col-6">
                <button type="submit" class="form-control btn-delete btn-primary" id="recherche_vol"> Rechercher </button>
            </div>
        </div>
        

    </div>
</form>





{% endblock %}

{% block javascripts %}


$(document).on("submit", "form[name=recherche]", function(e){
    e.preventDefault();
    var data = $(this).serialize();
    window.location.href= "{{path('recherche/view')}}?&" + data;
});


$(document).on("change", "input[type=radio]", function(){
    var valradio = $(this).attr("value");
    if(valradio == "allersimple")
        $("#radiosimple").addClass("d-none").children("input").attr("value", "2010-01-01");
    else
        $("#radiosimple").removeClass("d-none").children("input").attr("value", "");
});


$(document).on("keyup", "input[type=text]", function(){
    var valeur = $(this).val();
    var name = $(this).attr("id");
    var dom = $(this).attr("data");
    console.log(valeur);
    
    if(valeur.length > 2)
    {
        var request = $.ajax({
            url : "{{ path('recherche') }}",
            method: "POST",
            data: "&val=" + valeur + "&dom=" + dom
        });
        request.done(function(msg){
        console.dir(msg);
           $("#liste_" + name).html(msg.view);
        });
    }
});

$(document).on("click", ".listeville", function () {
    $(this).parent().parent().children("input").val($(this).html());
    $(this).parent().html("");
});

 $(document).on("click", ".list-group-item", function () {
    $(this).parent().parent().children("input").val($(this).html());
    $(this).parent().html("");
});

{% endblock %} 