<div class="form-row border text-center mt-2 pt-3 col-8">
            
    <div class="form-group col-5"> 
        <label class="col-12 "> {{vol[0].depart | upper }} départ à {{vol[0].heureDepart | date("H:i") }} </label>
        <label class="col-12"> le {{vol[0].heureDepart | localizeddate('none', 'none', 'none', null, 'd MMM YYYY HH') }} </label>
    </div>
    <div class="form-group col-5">
        <label class="col-12"> {{vol[0].arrivee | upper }} arrivée à {{vol[1].duree | date("H:i") }} </label>
        <label class="col-12"> le {{vol[0].heureArrivee | localizeddate('none', 'none', 'none', null, 'd MMM YYYY HH')}} </label>
    </div>

    <div class="form-group col-2">
        <label class="col-12"> Duree {{vol[0].duree | date("H:i") }} </label>  
        <label class="col-12"> N° vol : {{ vol[0].numeroVol }} </label>                     
    </div>

    <div class="form-group col-12">
        <label class="col-12"> Durée de l'escale </label>
        <label class="col-12"> 
            {% set diffdate = date(vol[1].heureDepart).diff(date(vol[0].heureArrivee)) %}
            {% if diffdate.d %}
                {{ diffdate.d }}J {{ diffdate.h }}h{{ diffdate.i }}
            {% else %}
                {{ diffdate.h }}h{{ diffdate.i }}
            {% endif %}
        </label>
    </div>

    <div class="form-group col-5"> 
        <label class="col-12 "> {{vol[1].depart | upper }} départ à {{vol[1].duree | date("H:i") }} </label>
        <label class="col-12"> le {{vol[1].heureDepart | localizeddate('none', 'none', 'none', null, 'd MMM YYYY HH') }} </label>
    </div>
    <div class="form-group col-5">
        <label class="col-12"> {{vol[1].arrivee | upper }} arrivée à {{vol[1].duree | date("H:i") }} </label>
        <label class="col-12"> le {{vol[1].heureArrivee | localizeddate('none', 'none', 'none', null, 'd MMM YYYY HH')}} </label>
    </div>

    <div class="form-group col-2">
        <label class="col-12"> Duree {{vol[1].duree | date("H:i") }} </label>
        <label class="col-12"> N° vol : {{ vol[1].numeroVol }} </label>                      
    </div>   

</div>