{% extends 'base.html.twig' %}

{% block stylesheets %}
	.vv{
		cursor : pointer;
	}
{% endblock %}
	
{% block body %}
	
	<label class="col-12 text-center"> Nous recherchons les meilleurs offres disponibles </label> 
	<label class="col-12 text-center"> Veuillez patienter </labe>

	<ul class="drops blue">
	  <li></li> <li></li> <li></li> <li></li> <li></li>
	</ul>

{% endblock %}

{% block modal %}
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary d-none" id="loadmodal" data-toggle="modal" data-target="#loadingmodal">
  Launch demo modal
</button>
	<!-- Modal -->
	<div class="modal fade bd-example-modal-sm" id="loadingmodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
	  	<div class="modal-dialog modal-dialog-centered" role="document">
		   	<div class="loading-container">
			    <div class="loading"></div>
			    <div id="loading-text">loading</div>
			</div>
	  	</div>
	</div>

{% endblock %}



{% block javascripts %}
// Rechers des Vols
$(document).ready(function(){
	var data = location.search;
	//console.dir(data);

	var request = $.ajax({
	    url: "{{ path('recherche/view')}}",
	    method: "POST",
	    data: data
	});
	request.done(function(msg){
		$(".container").html(msg.view);
	});
});

// Sélectionne de vol aller 
$(document).on("click", ".vv", function(){  
    $("#loadmodal").click();

	var data = location.search;
	data = data.replace("allerretour", "last");
    var volid = $(this).data("id"); // id de vol
    var tvol = $(this).parent().data("type"); // type de vol direct ou escale    
    var typevol = $(".typevol").data("typevol");
    var catbillet = $(this).attr("name"); // Express, classic, Flex
    
    // vol aller et retour
    if(typevol=="allerretour")
    {
        var request = $.ajax({
            url: "{{path('recherche/view')}}",
            method: "POST",
            data: data + "&volaller=" + volid + "&typevol=" + tvol + "&catb=" + catbillet
        });
        request.done(function(msg){
            $(".container").html(msg.view);
            
        });
        request.always(function(){ $("#loadmodal").click(); });
    }
    else
    {
        var voldid = $(".detailVolAller").attr("id"); // identification de vol aller choisi
        var chdefault = /escale/gi;
        var chd = /es/gi;
        if(voldid){
        	var catba = $("#tariftype").html();
            if((voldid.length) > 2){ voldid = voldid.replace(chd, "aes"); }
            //window.location.href = "reservation?&vold=" + voldid + "&volr=" + volid + "&typevol=" + tvol;
            window.location.href = "{{path('reservation')}}?&vold=" + voldid + "&catba=" + catba + "&volr=" + volid + "&typevol=" + tvol + "&catbr=" + catbillet;
        }           
        else{
            if((volid.length) > 2){ volid = volid.replace(chdefault, "aescale");  }
            //window.location.href= "reservation?&vold=" + volid + "&volr=" + voldid + "&typevol=" + tvol;
            window.location.href= "{{path('reservation')}}?&vold=" + volid + "&volr=" + voldid + "&typevol=" + tvol + "&catbr=" + catbillet;
        }
    } 
});

/*
// Sélectionne de vol aller 
$(document).on("click", ".vol", function(){  
    $("#loadmodal").click();

	var data = location.search;
	data = data.replace("allerretour", "last");
    var volid = $(this).data("id"); // id de vol
    var tvol = $(this).parent().data("type"); // type de vol direct ou escale    
    var typevol = $(".typevol").data("typevol");
    
    // vol aller et retour
    if(typevol=="allerretour")
    {
        var request = $.ajax({
            url: "{{path('recherche/view')}}",
            method: "POST",
            data: data + "&volaller=" + volid + "&typevol=" + tvol
        });
        request.done(function(msg){
            $(".container").html(msg.view);
            
        });
        request.always(function(){ $("#loadmodal").click(); });
    }
    else
    {
        var voldid = $(".detailVolAller").attr("id"); // identification de vol aller choisi
        var chdefault = /escale/gi;
        var chd = /es/gi;
        if(voldid){
            if((voldid.length) > 2){ voldid = voldid.replace(chd, "aes"); }
            //window.location.href = "reservation?&vold=" + voldid + "&volr=" + volid + "&typevol=" + tvol;
            window.location.href = "{{path('reservation')}}?&vold=" + voldid + "&volr=" + volid + "&typevol=" + tvol;
        }           
        else{
            if((volid.length) > 2){ volid = volid.replace(chdefault, "aescale");  }
            //window.location.href= "reservation?&vold=" + volid + "&volr=" + voldid + "&typevol=" + tvol;
            window.location.href= "{{path('reservation')}}?&vold=" + volid + "&volr=" + voldid + "&typevol=" + tvol;
        }
    } 
});
*/

/*
// Sélectionne de vol aller $(document).on("click", "input[type=radio]", function(){
$(document).on("click", ".vol", function(){  
  	$("#loadmodal").click();

 	var volid = $(this).attr("name"); // id de vol
 	var tvol = $(this).data("type"); // type de vol direct ou escale
	var data = location.search;
	var typevol = $(".typevol").data("typevol");

	//var tmpdata = data.split("date_arrivee=");
	data = data.replace("allerretour", "last");
	console.log(data);

	// vol aller et retour
	if(typevol=="allerretour")
	{
		//window.location.href = "{{path('recherche')}}?&" + data;
		var request = $.ajax({
		    url: "{{ path('recherche/view')}}",
		    method: "POST",
		    data: data + "&volaller=" + volid + "&typevol=" + tvol
		});

		request.done(function(msg){
			$(".container").html(msg.view);
      		$("#loadmodal").click();
		});		
	}
	else
	{
		var voldid = $(".detailVolAller").attr("id");
		if(voldid){
			if((voldid.length) > 10){
				var regex = /es/gi;
				var voldid = voldid.replace(regex, "aes");
			}
			window.location.href= "{{path('reservation')}}?&vold=" + voldid + "&volr=" + volid + "&typevol=" + tvol;
		}			
		else{
			if((volid.length) > 10){
				var regex = /escale/gi;
				var volid = volid.replace(regex, "aescale");
			}
			window.location.href= "{{path('reservation')}}?&vold=" + volid + "&volr=" + voldid + "&typevol=" + tvol;		
		}
	} 

});


// Modifier le vol Aller
$(document).on("click", "#changervolaller", function(){
	window.location.reload();
});*/


{% endblock %}