{% if (vol | length == 1) %}

    <div class="row bg-light border mt-4 pt-1 detailVolAller" id="{{ vol.id }}">
        <div class="col-2">
            <label class="col-12"> DATE </label>
            <label class="col-12"> {{vol.heureDepart | date("d/m/Y") }} </label> 
        </div>
        <div class="col-2">
            <label class="col-12"> TRAJET </label>
            <label class="col-12"> {{vol.depart}} - {{vol.arrivee}}</label> 
        </div>
        <div class="col-2">
            <label class="col-12"> DÉPART </label>
            <label class="col-12"> {{vol.heureDepart | date("H:i") }} </label> 
        </div>
        <div class="col-2">
            <label class="col-12"> ARRIVÉE </label> 
            <label class="col-12"> {{vol.heureArrivee | date("H:i")}} </label> 
        </div>
        <div class="col-2">
            <label class="col-12"> TARIF </label> 
            <label class="col-12" id="tariftype">{{ recap.catb |upper }}</label> 
        </div>
        <div class="col-2">
            <label class="col-12"> PRIX </label> 
            
            <label class="col-12"> 
                {% if recap.catb == "express" %} {{vol.prix * 0.9}} € 
                {% elseif recap.catb == "flex" %} {{vol.prix * 1.5 }} €
                {% else %} {{vol.prix }} €
                {% endif %}
            </label> 
        </div>
    </div>    

{% elseif (vol|length >= 2) %}

    {% if (vol|length == 2) %}
        <div class="row bg-light border mt-4 pt-1 detailVolAller" id="{{ vol[0].id }}&es1={{vol[1].id}}">
    {% elseif (vol|length == 3) %}
        <div class="row bg-light border mt-4 pt-1 detailVolAller" id="{{ vol[0].id }}&es1={{vol[1].id}}&es2={{vol[1].id}}">
    {% endif  %}

         <div class="col-2">
            <label class="col-12"> DATE </label>
            <label class="col-12"> {{vol[0].heureDepart | date("d/m/Y") }} </label> 
        </div>
        <div class="col-2">
            <label class="col-12"> TRAJET </label>
            <label class="col-12"> {{vol[0].depart}} - {{ vol[(vol|length)-1].arrivee }}</label> 
        </div>
        <div class="col-2">
            <label class="col-12"> DÉPART </label>
            <label class="col-12"> {{vol[0].heureDepart | date("H:i") }} </label> 
        </div>
        <div class="col-2">
            <label class="col-12"> ARRIVÉE </label> 
            <label class="col-12"> {{vol[(vol|length)-1].heureArrivee | date("H:i")}} </label> 
        </div>
        <div class="col-2">
            <label class="col-12"> TARIF </label> 
            <label class="col-12" id="tariftype">{{ recap.catb |upper }}</label> 
        </div>
        <div class="col-2">
            <label class="col-12"> PRIX </label> 
            <label class="col-12">
                {% if (vol|length == 2) %}
                    {% if recap.catb == "express" %} {{ (vol[0].prix + vol[1].prix) * 0.9}} € 
                    {% elseif recap.catb == "flex" %} {{ (vol[0].prix + vol[1].prix) * 1.5 }} €
                    {% else %} {{ (vol[0].prix + vol[1].prix) }} €  {% endif %}
                {% else %}
                    {% if recap.catb == "express" %} {{ (vol[0].prix + vol[1].prix + vol[2].prix) * 0.9}} € 
                    {% elseif recap.catb == "flex" %} {{ (vol[0].prix + vol[1].prix + vol[2].prix) * 1.5 }} €
                    {% else %} {{ (vol[0].prix + vol[1].prix + vol[2].prix ) }} €  {% endif %}
                {% endif %}
            </label> 
        </div>     

       
    </div>

{% endif %}