
<div class="row mb-4 border-top border-bottom">
    <div class="col-3 border-right">SNIR AIRLINES </div>
    <div class="col-3 border-right"> 
        <label class="col-12 "> {{ recap.dd | localizeddate('none', 'none', 'none', null, 'd MMM') |upper }} </label>
        <h5 class="col-12"> {{ recap.vd}} -> {{ recap.va }} </h5>
    </div>
    {% if recap.vol != "allersimple" %}
     <div class="col-3 border-right typevol" data-typevol="{{recap.vol}}"> 
        <label class="col-12 "> {{ recap.da | localizeddate('none', 'none', 'none', null, 'd MMM') |upper }} </label>
        <h5 class="col-12"> {{ recap.va }} -> {{ recap.vd }} </h5>
    </div>
    {% endif %}
    <div class="col-2 border-right">
        <label class="col-12"> Passagers </label>
        <label class="col-12"> {{ recap.np }} </label>
    </div>
    <div class="col-1">
        <label class="col-12">Total </label>
        <label class="col-12"> 0.00 € </label>
    </div>
</div>



{% if recap.vol == "last" %}
    {% set vol = volaller %}
    {% include "Recherche/vol.html.twig" %}

    {% if(volaller|length == 1) %}
        {% set vaDepart = volaller.heureDepart %}
    {% else %}
        {% set vaDepart = volaller[0].heureDepart %}
    {% endif %}
   
    <div class="row mb-4 col-12 text-right text-danger" data-dateDepart="{{ vaDepart | date("d/m/Y") }}"> 
        <label class="col-12" id="changervolaller"> CHANGER ALLER </label> 
    </div>

    <div class="row mt-6">
        <label class="col-12 typevol" name="volretour"> <h2> Choissisez votre retour </h2> </label>
        <lavel class="col-12"> {{ recap.da | localizeddate('none', 'none', 'none', null, 'd MMMM YYYY') |upper }} </label>
    </div>

{% else %}

    <div class="row mt-6">
        <label class="col-12 typevol" name="volaller"> <h2> Choissisez votre aller </h2> </label>
        <lavel class="col-12"> {{ recap.dd | localizeddate('none', 'none', 'none', null, 'd MMMM YYYY') |upper }} </label>
    </div>
{% endif %}


<div id="choixvol">
    {% include "Recherche/vols_disponibles.html.twig" %}
</div>


