
<div class="form-row mt-5 border text-center">
    <div class="form-group col-2"> DÉPART </div>
    <div class="form-group col-2"> </div>
    <div class="form-group col-2"> ARRIVÉE </div>
    <div class="form-group col-2"> EXPRESS <br> 7Kg/personne  </div>
    <div class="form-group col-2"> CLASSIC <br> 20Kg/personne </div>
    <div class="form-group col-2"> FLEX <br> annulation gratuit + 40Kg/personne </div>
</div>


{% for vol in vols %}

    {% if (vol |length == 1) %}
        <div class="form-row border text-center mt-2 pt-3 vol" data-id="{{ vol.id }}" data-type="direct">
            <div class="form-group col-2"> {{vol.depart | upper }} <br> {{vol.heureDepart | date("H:i") }}h  </div>
            <div class="form-group col-2 pt-2">
                {{vol.duree | date("H") }}h{{vol.duree | date("i") }}
            </div>
            <div class="form-group col-2"> {{vol.arrivee | upper }} <br> {{vol.heureArrivee | date("H:i")}} </div>
            <div class="form-group col-2 border pt-2 text-center vv" data-id="{{vol.id}}" name="express"> <input type="radio" > {{vol.prix * 0.90 }} €</div>
            <div class="form-group col-2 border pt-2 text-center vv" data-id="{{vol.id}}" name="classic"> <input type="radio" > {{vol.prix }} €</div>
            <div class="form-group col-2 border pt-2 text-center vv" data-id="{{vol.id}}" name="flex"> <input type="radio" > {{vol.prix * 1.25}} €</div>
        </div>

    {% elseif (vol |length > 1) %}

        <div class="form-row border text-center mt-2 pt-3 vol" data-type="escale">
            <div class="form-group col-2"> {{vol[0].depart | upper }} <br> {{vol[0].heureDepart | date("H:i") }}h  </div>
            <div class="form-group col-2 pt-0 mb-0"> 
                {{ vol | length }} escale  <br>
                {% set diffdate = date(vol[(vol |length)-1].heureArrivee).diff(date(vol[0].heureDepart)) %}
                {% if diffdate.d %}
                    {{ diffdate.d }}J {{ diffdate.h }}h{{ diffdate.i }}
                {% else %}
                    {{ diffdate.h }}h{{ diffdate.i }}
                {% endif %}
                <br>
                Voir détail
            </div>
            <div class="form-group col-2"> {{vol[(vol |length) -1].arrivee | upper }} <br> {{vol[(vol |length-1)].heureArrivee | date("H:i")}} </div>
            
            <div class="form-group col-2 border pt-2 text-center vv" data-id="{{ vol[0].id }}&es1={{vol[1].id}}" name="express"> <input type="radio" > {{(vol[0].prix + vol[1].prix) * 1.5 }} €</div>
            <div class="form-group col-2 border pt-2 text-center vv" data-id="{{ vol[0].id }}&es1={{vol[1].id}}" name="classic"> <input type="radio" > {{vol[0].prix + vol[1].prix }} €</div>
            <div class="form-group col-2 border pt-2 text-center vv" data-id="{{ vol[0].id }}&es1={{vol[1].id}}" name="flex"> <input type="radio" > {{ (vol[0].prix + vol[1].prix) * 2}} €</div>
        </div>


        <div class="row justify-content-center d-none">
            {% include "Recherche/detail_vol_escale.html.twig" %}
        </div>

    {% endif %}
    
{% endfor %}