
<div class="row mb-4">
	<label class="col-12">M. {{ client.nom }}</label>		
</div>
{% set vol = volaller %}
{% include "Recherche/vol.html.twig" %}

{% if typesearchvol == "allerretour" %}
	{% set vol = volretour %}
	{% include "Recherche/vol.html.twig" %}
{% endif %}

<div class="row justify-content-center mt-4">
	<div class="form-row col-8">
	    <div class="form-check form-check-inline col-4">
	      <input class="form-check-input" type="checkbox" id="acheck" name="vol" value="allerretour">
	      <label class="form-check-label" for="inlineCheckbox1">Changer Vol Aller</label>
	    </div>
	    <div class="form-check form-check-inline col-4">
	      <input class="form-check-input" type="checkbox" id="rcheck" name="vol" value="allersimple">
	      <label class="form-check-label" for="inlineCheckbox2">Changer Vol retour</label>
	    </div>
	 </div>
</div>

<div class="row justify-content-end mt-4">
	<a class="col-3 btn btn-danger" href="{{path('gestionvol')}}">Retour</a>
	<div class="col-1"></div>
	<button class="col-3 btn btn-primary" id="modGesVol" name="{{nbillet}}">Modifier</button>
</div>

