{% extends 'base.html.twig' %}

{% block body %}
		{{form_start(ajoutvol)}}
		
		<div class="form-row"> 
			<div class="form-group col-6">
				{{ form_label(ajoutvol.depart, 'Depart',{ 'label_attr': {'for': 'depart'} } ) }}
				{{ form_widget(ajoutvol.depart, {'attr' : {'class' : 'form-control', 'data' : 'aeroports'}}) }}
				<ul class="list-group" id="liste_vol_depart">   </ul>
			</div>
			<div class="form-group col-6">
				{{ form_label(ajoutvol.arrivee, 'Arrivée',{ 'label_attr': {'for': 'arrivee'} } ) }}
				{{ form_widget(ajoutvol.arrivee, {'attr' : {'class' : 'form-control', 'data' : 'aeroports'}}) }}
				<ul class="list-group" id="liste_vol_arrivee">   </ul>
			</div>
			<div class="form-group col-6">
				{{ form_label(ajoutvol.heure_depart, 'Heure de départ') }}
				{{ form_widget(ajoutvol.heure_depart ) }}
			</div>
			<div class="form-group col-6">
				{{ form_label(ajoutvol.heure_arrivee, 'Heure de Arrivée') }}
				{{ form_widget(ajoutvol.heure_arrivee ) }}
			</div>
			<div class="form-group col-6">
				{{ form_label(ajoutvol.duree, 'Durée') }}
				{{ form_widget(ajoutvol.duree) }}
			</div>
			<div class="form-group col-6">
				{{ form_label(ajoutvol.compagnies, 'Compagnie') }}
				{{ form_widget(ajoutvol.compagnies, {'attr' : {'class' : 'form-control', 'data' : 'compagnies'}}) }}
				<ul class="list-group" id="liste_vol_compagnies">   </ul>
			</div>
			<div class="form-group col-6">
				{{ form_label(ajoutvol.numero_vol, 'Numéro de vol',{ 'label_attr': {'for': 'numvol' } } ) }}
				{{ form_widget(ajoutvol.numero_vol, {'attr' : {'class' : 'form-control' }}) }}
			</div>
			<div class="form-group col-6">
				{{ form_label(ajoutvol.prix, 'Prix',{ 'label_attr': {'for': 'prix' } } ) }}
				{{ form_widget(ajoutvol.prix, {'attr' : {'class' : 'form-control' }}) }}
			</div>				
			<div class="form-group col-6">
				{{ form_label(ajoutvol.Ajouter) }}
				{{ form_widget(ajoutvol.Ajouter, {'attr' : {'class' : 'btn btn-primary col-12'}}) }}
			</div>

		{{form_end(ajoutvol)}}

		</div>
{% endblock %}

{% block javascripts %}
{{parent()}}

/*$(document).on("submit", "form", function(e){
	e.preventDefault();
	var data = $(this).serialize();
	var request = $.ajax({
	    url: "{{ path('ajoutvol')}}",
	    method: "POST",
	    data: data
	});
	request.done(function(msg){
		console.dir(msg);
		alert(msg.view);
		if(msg.success)
		{
			alert(msg.view);
		}
	});
});*/
{% endblock %} 
