{% extends 'base.html.twig' %}

{% block body %}
<form name="gestionvol">
	<div class="form-row">		
        <div class="form-group col-5">
            <label for="numbillet">Numero de billet </label>
            <input type="text" class="form-control" value="123" id="numbillet" name="bn" required>
        </div>
     <!--   <div class="form-group col-5">
            <label for="numbillet">Nom</label>
            <input type="text" class="form-control" value="123" id="nom" name="cn" placeholder="Nom" required>
        </div> -->
    </div>
        <div class="form-group col-5">
            <button type="submit" class="form-control btn-delete btn-primary" id="recherche_vol"> Recherche </button>
        </div>
    </div>
</form>
{% endblock %}

{% block modal %}

{% endblock %}

{% block javascripts %}

$(document).ready(function(){
    var data = location.search;
    console.log(data);
    if(data)
    {
        var request = $.ajax({
            url: "{{ path('gestionvol')}}",
            method: "POST",
            data: data
        });
        request.done(function(msg){
           // alert(msg);
            $(".container").html(msg.view);
            console.dir(msg);
        });
    }
    
    //var data =$("#numbillet").val();  

    /*var data = $(this).serialize();
    window.location.href= "{{path('recherche/view')}}?&" + data; */

});



{% endblock %} 