<!DOCTYPE html>
<html>
<head>
    
	<style type="text/css">
		table{
			width: 100%;
			font-size: 20px;
		}
		h2{
			margin-bottom: 0;
		}
		.initsize{
			width: 25%;
		}
		.snir{
			padding-bottom: 50px;
		}
		img{
			width: 250px;
			height: 250px;
		}

	</style>
</head>
<body>
	<table>
		<tr>
			<td colspan="2" class="snir"><h2> SNIR AIRLINES </h2> <br> 8 rue fernand Léger <br> 95200 sarcelles 	</td>
			<td colspan="2">
				<img src="{{ app.request.scheme ~ '://' ~ app.request.httpHost ~ asset('snlog.png') }}" alt="logo_header" />
			</td>
		</tr>

		<tr><td colspan="4" class="mt"> <h2> Confirmation de réservation : {{ numbillet }} </h2> <hr> </td> </tr>

		<tr> 
			<td colspan="3"> Mme, M. {{ client.nom | capitalize }} {{ client.prenom | capitalize }} <br> 
				Adresse : {{ client.adresse | capitalize  }} <br> 
				Mail : {{ client.mail  }} <br> Téléphone : {{ client.telephone }} <br> 
				Numéro de Passeport : {{ client.passeport }} 
			</td>
			<td> <barcode dimension="1D" type="C128" value="{{ numbillet}}" style="width:50mm; height:10mm; color: #770000; font-size: 4mm"></barcode> </td>
		</tr>

		<tr> <td colspan="4"> <h2> Detail du vol Aller </h2> <hr> </td> </tr>

		{% if volaller|length > 1 %}		
			<tr> 
				<td> {{ volaller[0].depart | upper }} <br> {{ volaller[0].heureDepart | date("d-m-Y") }} </td>
				{% if volaller|length == 2 %}
					<td> Escale à {{ volaller[1].arrivee | upper }} <br> 
						{% set dde = date(volaller[1].heureArrivee).diff(date(volaller[1].heureDepart)) %}
						{% if dde.days > 0 %}  {{dde |date("%dJ %HH %i")}}	{% endif %} 
					</td>
					{% if volaller|length == 3 %}
						<td> {{ volaller[2].arrivee | upper }} <br> 
							{% set dde = date(volaller[2].heureArrivee).diff(date(volaller[2].heureDepart)) %}
							{% if dde.days > 0 %}  {{dde |date("%dJ %HH %i")}} {% endif %}
						</td>
					{% endif %}
				{% endif %}
				
				<td> {{ volaller[volaller|length - 1].arrivee | upper }} <br>
				 	 {{ volaller[volaller|length - 1].heureArrivee | date("d-m-Y") }}
				</td> 
			</tr>
		{% else %}
			<tr> 
				<td> {{ volaller.depart | upper }} <br> {{ volaller.heureDepart | date("d-m-Y") }} </td>
				<td> {{ volaller.arrivee | upper }} <br> {{ volaller.heureArrivee | date("d-m-Y") }} </td>
			</tr>
		{% endif %}
				
		<tr> 
			<td colspan="4"> <h2> Detail du Vol Retour </h2> <hr> </td>	
		</tr>

		{% if volretour|length > 1 %}
			<tr>	
				<td> {{ volretour[0].depart | upper }} <br> {{ volretour[0].heureDepart | date("d-m-Y") }} </td>

				{% if volretour|length == 2 %}
					<td> Escale à {{ volretour[1].arrivee | upper }} <br> 
						{% set dde = date(volretour[1].heureArrivee).diff(date(volretour[1].heureDepart)) %}
						{% if dde.days > 0 %}  {{dde |date("%dJ %HH %i")}} {% endif %} 
					</td>
					{% if volretour|length == 3 %}
						<td> {{ volretour[2].arrivee | upper }} <br> 
							 {% set dde = date(volretour[2].heureArrivee).diff(date(volretour[2].heureDepart)) %}
							 {% if dde.days > 0 %}  {{dde |date("%dJ %HH %i")}} {% endif %}
						</td>
					{% endif %}
				{% endif %}

				<td> {{ volretour[volretour|length - 1].arrivee | upper }} </td>
			</tr>	
		{% else %}
			<tr>	 
				<td> {{ volretour.depart | upper }} <br> {{ volretour.heureDepart | date("d-m-Y") }} </td>
				<td> {{ volretour.arrivee | upper }} <br> {{ volretour.heureArrivee | date("d-m-Y") }} </td>
			</tr>			
		{% endif %}		
		
		<tr> <td colspan="4"> <h2> Detail du Tarif </h2> <hr> </td> </tr>
		<tr> 
			<td class="initsize"> Nb Persone <br> <br> Var::1 </td>
			<td class="initsize"> Aller <br> 
				{%if volaller|length > 1%}
				 	{{ volaller[0].depart | capitalize }} <br> 
				 	{{ volaller[volaller|length -1].arrivee | capitalize }} <br> 
				 	
				 	{% set dde = date(volaller[1].heureArrivee).diff(date(volaller[volaller|length -1].heureDepart)) %}
					{% if dde.days > 0 %}  {{dde |date("%dJ %HH %i")}} {% else %}  {{dde |date("%HH %i")}} {% endif %}
				{% else %}
				 	{{ volaller.depart | capitalize }} <br> 
				 	{{ volaller.arrivee | capitalize }} <br> {{ volaller.duree |date("H:i:s") }} 
				{% endif %}
			</td>

			<td class="initsize"> Retour <br>
				{% if volretour|length > 1 %}
					{{ volretour[0].depart | capitalize }} <br> 
				 	{{ volretour[volretour|length-1].arrivee | capitalize }} <br> 
				 	{% set dde = date(volretour[1].heureArrivee).diff(date(volretour[volretour|length -1].heureDepart)) %}
					{% if dde.days > 0 %}  {{dde |date("%dJ %HH %i")}} {% else %}  {{dde |date("%HH %i")}} {% endif %}
				{% else %}
					{{ volretour.depart | capitalize }} <br> 
				 	{{ volretour.arrivee | capitalize }} <br> {{ volretour.duree |date("H:i") }} 
				{% endif %}
			</td>

			<td class="initsize"> Total <br> <br> {{ client.total }} € </td>
		</tr>
	</table>
</body>
</html>



